<section class="vh-100" style="background-color: white;">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-9">
  
          
  
          <div class="card" style="border-radius: 15px;" *ngIf="photo">
            <div class="card-body">
  
              <div class="row align-items-center pt-4 pb-3">
                <div class="col-md-3 ps-5">
  
                  <h6 class="mb-0">Created By</h6>
  
                </div>
                <div class="col-md-9 pe-5">
  
                  <input type="text" class="form-control form-control-lg" [value]="photo.createdBy" />
  
                </div>
              </div>
  
              <hr class="mx-n3">
  
              <div class="row align-items-center py-3">
                <div class="col-md-3 ps-5">
  
                  <h6 class="mb-0">Date</h6>
  
                </div>
                <div class="col-md-9 pe-5">
  
                  <input type="email" class="form-control form-control-lg" [value]="photo.dateCreated" />
  
                </div>
              </div>
  
              <hr class="mx-n3">
  
              <div class="row align-items-center py-3">
                <div class="col-md-3 ps-5">
  
                  <h6 class="mb-0">Photo Url</h6>
  
                </div>
                <div class="col-md-9 pe-5">
  
                    <input type="text" class="form-control form-control-lg" [value]="photo.photoUrl" />
                    <input type="hidden"  [value]="photo.albumId" />
  
  
                </div>
            </div>
  
              <div class="px-5 py-4">
                <button type="submit" class="btn btn-primary btn-lg" (click)="upadatePhotoDetails()">Update Photo Details</button>
              </div>
  
            </div>
          </div>
  
        </div>
      </div>
    </div>
  </section>